
/*estilos para position*/

body{
	height: 10000px;
}

section.cuadrado{
	display: inline-block;
	width: 250px;
	height: 250px;
	position: absolute;
	/*position: static;
	position: relative;
	position: absolute;
	position: fixed;*/
}

#rojo{
	background-color: red;
	top:0;
	left:0;
}
#verde{
	position: fixed;
	background-color: green;
	top: 0;
	right: 0;
}

#amarillo{
	background-color: yellow;
	bottom: 0;
	left:0;
}

#azul{
	background-color: blue;
	bottom: 0;
	right: 0;
}

#container{
	position: relative;
	background-color: purple;
	width: 600px;
	height: 600px;
}


